from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument
from launch.substitutions import LaunchConfiguration
from launch_ros.actions import Node


def generate_launch_description():
    name = 'topic_name'
    return LaunchDescription([
         DeclareLaunchArgument(
             f'{name}',
        description='Text to publish'
         ),
        Node(
            package='task04',
            executable='image_receiver',
            name='image_receiver',
            output='screen',
            parameters=[{name: LaunchConfiguration(name)}]
        )
    ])